# Assignment-1
Prithviraj Tiwari

# Question 1

In [20]:
a = "RANIBOW"
b = "RAINBOW"
c = "BOWRANI"
d = "ROBWANI"
if a == "RAINBOW":
     print(a)
elif b=="RAINBOW":
    print(b)
elif c=="RAINBOW":
    print(c)
else:
    print(d)

RAINBOW

# Question 2

In [21]:
print("LETS UPGRADE")

LETS UPGRADE

# Question 3

In [1]:
x = input()
y = input()
if x<y:
    print("Profit")
elif y<x :
    print("Loss")
else:
    print("Neither")

120
220
Profit

# Question 4

In [16]:
# Program to convert Euro to Rupee
# Assumption: $1 = Rs.80

a = int(input())
print(a*80)

50
4000